# 🐍 Python cache
__pycache__/
*.pyc
*.pyo

# 🧪 pytest
.pytest_cache/

# 🧠 entornos virtuales
.venv/
venv/
env/

# 📦 builds / packaging
build/
dist/
*.egg-info/

# 🧾 logs
*.log

# 🖥️ sistema
.DS_Store
